header {
    display: flex;
    flex-direction: column;
    font-size: large;
}

.top-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid rgb(202, 199, 199);
}

.hallo-top {
    display: flex;
    gap: 1.5em;
    list-style: none;
}

.blue-text {
    color: blue;
    text-decoration: none;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2em;
    border-bottom: 1px solid rgb(202, 199, 199);
  
}

.cart-icon{
   width:2em;
}

.no-underline {
    text-decoration: none;
    color: red;
}

.cart-wrapper {
  position: relative; /* parent becomes reference for absolute badge */
  display: inline-block;
}

.cart-icon {
  width: 32px; /* adjust as needed */
  height: 32px;
}

.cart-badge {
  position: absolute;
  top: -3px;
  right: -8px;
  background-color: red;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* makes it a perfect circle */
}

/* ============================= */
/* Mobile layout (max-width:800px) */
/* ============================= */
@media screen and (max-width: 800px) {
    header {
      justify-content: center;
      align-items: center;
    }

    .searchbar {
        flex-direction: column;
        align-items: center;
        
    } 
    
    .hallo-top {
      gap: .8em;
    } 
}   


